// Colors

$base-dark-color: #1e1e1e;
$dark-color-type-2: #f7f7f8;
$dark-color-type-3: #003154;
$dark-color-type-4: #60c0c3;
$dark-color-type-5: rgba(0, 0, 0, 0.2);
$dark-color-type-6: rgba(0, 0, 0, 0.16);
$dark-color-type-7: #404040;
$dark-color-type-8: #e1e1e1;
$dark-color-type-9: #f2f6fb;
$dark-color-type-10: #888888;
$dark-color-type-11: #8f9090;
$dark-color-type-12: #d0d0d0;
$dark-color-type-13: #000103;
$dark-color-type-14: #174463;
$base-light-color: #ffffff;
$light-color-type-2: #f5f5f5;
$light-color-type-3: #eaeaea;

// Viewports

$mobile-width-only: 320px;
$tablet-width: 768px;
$min-desktop-width: 1024px;
$desktop-width: 1260px;
